<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.addx.ai.demo">

    <application
        android:name="com.addx.ai.demo.demoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="addxdemo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label,android:allowBackup,android:name,android:icon">
        <activity android:name=".DeviceListActivity"></activity>
        <activity android:name=".MineActivity" />
        <activity android:name=".LibActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WebViewActivity" />
        <activity android:name=".OtherActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".VideoViewTest" />
        <activity android:name=".Logintest" />
        <activity android:name=".NocontrolVideoViewTest" />
    </application>

</manifest>